<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Добро пожаловать в магазин!</h1>
    <ul>
    {% for product in products %}
        <li>
            {{ product.name}} - {{ product.description }} - {{ product.price }}
                <form method="POST" action="{{ url_for('delete', id=product.id)}}">
            <input type="submit" value="Удалить">
        </form>
        </li>
    {% endfor %}
    </ul>
    <a href="/">Вернуться на главную страницу</a>
</body>
</html>